<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <div class="inner">
    <div class="inner-nav">
        <h3 class="clearFloat">项目大厅</h3>
        <ul class="clearFloat">
            <li><a href="#">全部</a></li>
            <li><a href="#">普通</a></li>
            <li><a href="#">高级</a></li>
            <li><a href="#">公益SRC</a></li>
            <li><a href="#">SRC</a></li>
        </ul>
    </div>
    <div class="classification">
        <ul>
            <li>类型</li>
            <li><a href="#">全部</a></li>
            <li><a href="#">普通</a></li>
            <li><a href="#">高级</a></li>
            <li><a href="#">公益SRC</a></li>
            <li><a href="#">SRC</a></li>
        </ul>
        <ul>
            <li>时间</li>
            <li><a href="#">全部</a></li>
            <li><a href="#">短期</a></li>
            <li><a href="#">长期</a></li>
        </ul>
    </div>
    <div class="manage-bounties">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    </div>
</body>

</html>