<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <title></title>
    <style>

    </style>
    <script src="../public/js/login.js"></script>
</head>

<body>
    <div class="center">
        <div class="warp">
            <div class="righr">
                用户名:<input type="text" onblur="check_uname()" name="uname" id="uname" placeholder="请输入用户名" class="int">
                 <span id="uname_msg"></span><br>
                密&#12288;码:<input type="password" onblur="check_upwd()" name="password" id="upwd" placeholder="请输入密码" class="int">
                 <span id="upwd_msg"></span><br>
                <div class="msg" id="msg" onclick='createCode(4)'></div>
                <div><a href="javascript:createCode(4)"></a></div>
                <input type="text" onblur="check_code()" id="ucode" placeholder="请输入验证码">
                 <span id="code_msg"></span><br>
                <button onclick="login()" value=""><a href="./login.html">登录</a>/<a href="./register.html">注册</a></button>
            </div>
        </div>
    </div>
</body>

</html>