<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../routes/css/public.css">
    <link rel="stylesheet" href="../routes/css/inner_home.css">
    <script src=""></script>
</head>
<body>
    <div class="inner">
        <div class="inner_left clearFloat">
            <span></span>
            <h3>学院新闻</h3>
        </div>
        <ul>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">我校举行数控技术高水平专业群建设暨产教融合发展首届校企签约仪式</a>
                <span class="rt">11-29</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">我校举办壮丽70年 奋进新时代第八届新生合唱比赛</a>
                <span class="rt">11-29</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">校领导赴舞阳县调研采购帮扶工作</a>
                <span class="rt">11-29</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">我校在全国教学能力比赛中荣获一、二等奖</a>
                <span class="rt">11-26</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">院长李桂贞参加全国高职高专校长联席会议2019年年会</a>
                <span class="rt">11-25</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">党委书记李四清在河南博物院为师生上坚定文化自信的思政课</a>
                <span class="rt">11-25</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">我校喜获第三届全国智能制造应用技术技能大赛突出贡献奖</a>
                <span class="rt">11-23</span>
            </li>
            <li class="clearFloat">
                <i class="lf"></i>
                <a href="#">我校举办舞阳籍学生就业创业培训讲座</a>
                <span class="rt">11-23</span>
            </li>
        </ul>
        <div class="inner_left clearFloat">
            <span></span>
            <h3>媒体看河职</h3>
        </div>
        <ul>
            <li>
                <i class="lf"></i>
                <a href="#">人民网：河南职业技术学院举办“不忘初心、牢记使命”主题...</a>
                <span class="rt">11-29</span>
            </li>
            <li>
                <i class="lf"></i>
                <a href="#">中华高校网：河南职业技术学院校党委书记李四清作“不忘初...</a>
                <span class="rt">11-29</span>
            </li>
            <li>
                <i class="lf"></i>
                <a href="#">河南日报：创新创业教育，在这里扎根——河南职业技术学院...</a>
                <span class="rt">11-29</span>
            </li>
        </ul>
    </div>
</body>
</html>