<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../routes/css/public.css">
    <link rel="stylesheet" href="../routes/css/student_home.css">
    <script src="../routes/jQuery/jquery.min.js"></script>
</head>

<body>
    <div class="main clearFloat">
        <!-- 顶部 -->
        <div class="header clearFloat">
            <span class="header-logo lf">
                <img src="../routes/img/logo.png">
            </span>
            学员管理系统
            <div class="register rt">
                <a href="manage.html">登录 </a>|
                <a href="registry.html"> 注册</a>
            </div>
            <div class="header-register rt clearFloat">
                <input type="text" class="lf">
                <span class="rt"><img src="../routes/img/ss.png"></span>
            </div>

        </div>
        <!-- 左侧导航 -->
        <div class="boder clearFloat">
            <div class="nav lf">
                <ul id="nav">
                    <li>
                        <a href="#" style="margin-left: 121px; border-radius: 0px;">首页</a>
                    </li>
                    <li>
                        <a href="#">信息统计</a>
                    </li>
                    <li>
                        <a href="#">成绩统计</a>
                    </li>
                </ul>
            </div>

            <!-- 中间主体 -->
            <div class="inner lf">
                <iframe src="inner_home.html"></iframe>
            </div>
            <!-- 右侧公告 -->
            <div class="bulletin0 rt">
                欢迎登录
            </div>
            <div class="bulletin rt">
                <div class="clearFloat">
                    <span></span>
                    <h3>公告通知</h3>
                </div>
                <p>&#x3000;&#x3000;
                    按照校园文化建设总体规划方案要求和省级文明校园创建指标体系标准，我校拟对校内灯杆道旗内容开展更新替换工作，主要更新内容包含：庆祝中华人民共和国成立70周年、十九大精神、文明标语和名师风采等内容。现公开进行询价，欢迎有意单位携带法人营业执照及法人身份证复印件加盖公章前来咨询报名，领取相关技术指标。
                </p>
            </div>
        </div>
        <!-- 尾部 -->
    </div>
    <script src="../routes/js/manage_home.js"></script>
</body>

</html>