<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学员登录</title>
    <link rel="stylesheet" href="../routes/css/public.css">
    <link rel="stylesheet" href="../routes/css/register.css">
    <script src="../routes/js/ajax.js"></script>
</head>

<body>
    <div class="message warning">
        <div class="inset">
            <div class="login-head">
                <h1>学员登录</h1>
            </div>
            <form>
                <li>
                    <input type="text" class="text" placeholder="用户名" id="a_student_num"><a href="#"
                        class=" icon user"></a>
                </li>
                <div class="clear"> </div>
                <li>
                    <input type="password" placeholder="······" id="pwd"> <a href="#" class="icon lock"></a>
                </li>
                <div class="clear"> </div>
                <div class="submit">
                    <input type="button" id="btn" value="登录">
                    <input type="button" id="btn1" value="注册" style="margin-left: 20px;">
                    <h4><a href="#">忘记密码 ?</a></h4>
                    <div class="clear"> </div>
                </div>

            </form>
        </div>
    </div>
    </div>
    <div class="clear"> </div>
    <script src="../routes/js/register.js"></script>
</body>

</html>