<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../routes/css/public.css">
    <link rel="stylesheet" href="../routes/css/registry.css">

    <script src="../routes/js/ajax.js"></script>
</head>

<body>
    <div class="message warning">
        <div class="inset">
            <div class="login-head">
                <h1>学员注册</h1>
            </div>
            <form>
                <li>
                    <input class="a" type="text" name="a_student_num" placeholder="学号">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_uname" placeholder="姓名">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_gander" placeholder="性别">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_class" placeholder="班级">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_qq" placeholder="QQ号">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_phone" placeholder="手机号">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_birthday" placeholder="出生日期 1999/3/14">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_nation" placeholder="民族">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_status" placeholder="政治面貌">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_position" placeholder="班级职务">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_award" placeholder="曾获奖项">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_merit" placeholder="优点">
                </li>
                <div class="clear"> </div>
                <li>
                    <input class="a" type="text" name="a_defect" placeholder="缺点">
                </li>
                <div class="clear"> </div>
                <div class="submit">
                    <input type="button" id="btn" value="注册">
                    <div class="clear"> </div>
                </div>
            </form>
        </div>
    </div>
    <div class="clear"> </div>
    <script src="../routes/js/registry.js"></script>

</body>

</html>