<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../routes/css/public.css">
    <link rel="stylesheet" href="../routes/css/student_modify.css">
    <script src="../routes/js/ajax.js"></script>
</head>

<body>
    <div class="inner">
        <div class="inner_home">
            <div class="inner_home_header">
                学员 > 修改信息
            </div>
            <table class="table" width="100%" cellspacing="0px">
                <tr>
                    <td class="col1">姓名:</td>
                    <td class="col2"><input type="text" class="a" name="a_uname"></td>
                    <td class="col1">身份证号:</td>
                    <td class="col3">****************</td>
                    <td class="col3" rowspan="8">照片</td>
                </tr>
                <tr>
                    <td class="col1">性别:</td>
                    <td class="col2"><input type="text" class="a" name="a_gander"></td>
                    <td class="col1">民族:</td>
                    <td class="col3"><input type="text" class="a" name="a_nation"></td>
                </tr>
                <tr>
                    <td class="col1">出生日期:</td>
                    <td class="col2"><input type="text" class="a" name="a_birthday"></td>
                    <td class="col1">曾获奖项:</td>
                    <td class="col3"><input type="text" class="a" name="a_award"></td>
                </tr>
                <tr>
                    <td class="col1">学校:</td>
                    <td class="col2">河南职业技术学院</td>
                    <td class="col1">院系:</td>
                    <td class="col3">信息工程学院</td>
                </tr>
                <tr>
                    <td class="col1">专业:</td>
                    <td class="col2">软件技术</td>
                    <td class="col1">班级:</td>
                    <td class="col3"><input type="text" class="a" name="a_class"></td>
                </tr>
                <tr>
                    <td class="col1">班级职务:</td>
                    <td class="col2"><input type="text" class="a" name="a_position"></td>
                    <td class="col1">政治面貌:</td>
                    <td class="col3"><input type="text" class="a" name="a_status"></td>
                </tr>
                <tr>
                    <td class="col1">手机号:</td>
                    <td class="col2"><input type="text" class="a" name="a_phone"></td>
                    <td class="col1">第二联系号码:</td>
                    <td class="col3"><input type="text"></td>
                </tr>
                <tr>
                    <td class="col1">QQ:</td>
                    <td class="col2"><input type="text" class="a" name="a_qq"></td>
                    <td class="col1">电子邮箱:</td>
                    <td class="col3"><input type="text"></td>
                </tr>
                <tr>
                    <td class="col1">联系地址:</td>
                    <td class="col2" colspan="4"><input type="text"></td>
                </tr>
                <tr>
                    <td class="col1">优点:</td>
                    <td class="col2" colspan="4"><input type="text" class="a" name="a_merit"></td>
                </tr>
                <tr>
                    <td class="col1">缺点:</td>
                    <td class="col2" colspan="4"><input type="text" class="a" name="a_defect"></td>
                </tr>
                <tr>
                    <td class="col1" colspan="5">
                        <a href="#" class="btn" id="btn">确定</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="../routes/js/student_modify.js"></script>
</body>

</html>