<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../routes/css/public.css">
    <link rel="stylesheet" href="../routes/css/student_grade.css">
    <script src="../routes/js/echarts.min.js"></script>
    <script src="../routes/js/ajax.js"></script>
</head>

<body>
    <div>
        <div class="inner">
            <div id="cnv" style="width: 900px; height: 700px;">

            </div>
        </div>
    </div>
    <script src="../routes/js/student_grade.js"></script>
</body>

</html>